{% extends "layout.html" %}

{% block content %}
  <div class="page-header">
    <h1>Admin: Home</h1>
  </div>
  <h2>Links</h2>
  <ul>
    <li><a href="{{ url_for('admin_settings') }}">Change settings</a></li>
    <li><a href="{{ url_for('admin_impersonate') }}">Impersonate people</a></li>
    <li><a href="{{ url_for('admin_teams') }}">Manage teams</a></li>
    <li><a href="{{ url_for('admin_users') }}">Manage users</a></li>
    <li><a href="{{ url_for('admin_all_games') }}">View all games</a></li>
  </ul>
{% endblock %}
