
<div class="ui text container">
  <div id="elo_chart" style="height: 50vh;"></div>

  <div class="ui message">
    More charts will be added later!
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {'packages':['corechart']});

function drawChart() {
  var eloData = new google.visualization.DataTable();
  eloData.addColumn('datetime', 'Time');
  eloData.addColumn('number', 'ELO Rating');
  eloData.addRows([
    {% for elo_datapoint in elo_over_time %}
      [ new Date('{{ elo_datapoint.datetime.isoformat() }}'), {{ elo_datapoint.elo }} ],
    {% endfor %}
  ])

  var eloChart = new google.visualization.LineChart(document.getElementById('elo_chart'));
  eloChart.draw(eloData, {
    title: 'ELO over time',
    curveType: 'function',
    legend: { position: 'bottom' }
  });

}

google.charts.setOnLoadCallback(drawChart);
</script>
