<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <img src="{{ url_for('static', filename='img/logo_clear.png') }}" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="{{ url_for('index') }}">Home</a>
      <a class="item" href="https://pokerbots.org">Pokerbots.org</a>
      <a class="item" href="https://github.com/mitpokerbots/class-resources-2025">Class Resources</a>
      <a class="item" href="https://piazza.com/class/m5aebrjp9b044c">Piazza</a>
      <a class="item" href="https://twitter.com/Detry322">Made by Jack Serrino</a>
    </div>
  </div>
</div>
