{% extends "layout.html" %}

{% block content %}
  <h1>{{ g.team.name }} - Pokerbots Scrimmage</h1>
  {% if flash %}
    <div class="ui {{ flash_level }} message">
      {{ flash }}
    </div>
  {% endif %}
  {% if g.team.is_disabled %}
    <div class="ui warning message">
      <div class="header">
        Team disabled.
      </div>
      Your team is currently disabled, and cannot challenge or receive new challenges.
    </div>
  {% endif %}
  <div class="ui stackable grid container">
    <div class="ten wide column">
      <h2>Team Standings</h2>
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>ELO</th>
            <th>Wins</th>
            <th>Losses</th>
          </tr>
        </thead>
        <tbody>
          {% for team in challengeable_teams|sort(attribute='elo', reverse=True) %}
            <tr{% if g.team == team %} class='active'{% elif team.must_autoaccept %} class='warning'{% endif %}>
              <td>{{ team.name }}</td>
              <td style="text-align: center">
                <div class="ui mini statistic">
                  <div class="value">
                    {{ team.elo | int }}
                  </div>
                </div>
              </td>
              <td style="text-align: center">
                <div class="ui mini green statistic">
                  <div class="value">
                    {{ team.wins }}
                  </div>
                </div>
              </td>
              <td style="text-align: center">
                <div class="ui mini red statistic">
                  <div class="value">
                    {{ team.losses }}
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if g.settings['challenges_enabled'].lower() == 'true' %}
        {% if g.team.can_challenge() %}
          {% if challengeable_teams|length > 0 %}
            <form class="ui inline form" action="{{ url_for('challenge') }}" method="POST">
              <div class="two fields">
                <div class="field">
                  <label>Challenge</label>
                  <select class="ui dropdown" name="team_id">
                    {% for team in challengeable_teams|sort(attribute='name') %}
                      <option value='{{ team.id }}'>
                        {{ team.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="field">
                  <label>&nbsp;</label>
                  <button class="ui primary button">Challenge!</button>
                </div>
              </div>
            </form>
            <p>
              Challenges for people of higher ELO will automatically be accepted. Challenges for reference (yellow) players will also automatically be accepted.
            </p>
          {% else %}
            <p>
              You're the only team who is ready to play! Please wait a bit for teams to upload their bots.
            </p>
          {% endif %}
        {% else %}
          <p>
            Your team has not uploaded and selected a bot! You must go to the team management page before you can challenge people.
          </p>
        {% endif %}
      {% else %}
        <p>
          Challenges are currently disabled. Upload a bot so you can play immediately when they are enabled.
        </p>
      {% endif %}
    </div>
    <div class="six wide column">
      <h2>Challenges</h2>
      <div>
        <div class="ui segments">
          {% for request in pending_requests %}
          <div class="ui segment">
            <h3 class="ui header">
              <div class="content">
                {{ request.challenger.name }}
                <div class="sub header">{{ request.create_time | naturaltime }}</div>
              </div>
              <div style="float: right;">
                <form style="margin: 0; display: inline-block;" class="ui inline form" action="{{ url_for('answer_request', request_id=request.id) }}", method="POST">
                  <input type="hidden" name="action" value="accept" />
                  <button class="ui positive button">Accept</button>
                </form>
                <form style="margin: 0; display: inline-block;" class="ui inline form" action="{{ url_for('answer_request', request_id=request.id) }}", method="POST">
                  <input type="hidden" name="action" value="reject" />
                  <button class="ui negative button">Reject</button>
                </form>
              </div>
            </h3>
          </div>
          {% else %}
            <div class='ui segment'>
              When people of higher ELO challenge you, their requests will appear here.
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br />
  {% with announce_title="Most Recent Announcement" %}
    {% include '_announcements.html' %}
  {% endwith %}
  {% include '_recent_games.html' %}
{% endblock %}
