
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pokerbots Scrimmage</title>

    <link rel="icon" type="image/png" href="/static/img/favicon.ico">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/semantic.min.css') }}" rel="stylesheet">

    <style type="text/css">
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .ui.menu .item img.logo {
        margin-right: 1.5em;
      }
      .main.container {
        flex: 1 0 auto;
      }
    </style>

  </head>

  <body>
    {% include '_navbar.html' %}

    <div class="ui main container">
      {% block content %}{% endblock %}
    </div>
    <br />

    {% include '_footer.html' %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
