{% extends "layout.html" %}

{% block content %}
  <div class="page-header">
    <h1>Your Games</h1>
  </div>
  <div class="pagination">
    <ul>
      <li
          {% if not pagination.has_prev %}
            class="disabled"
          {% endif %}
      >
        <a
          {% if pagination.has_prev %}
            href="{{ url_for('show_games', page=pagination.prev_num) }}"
          {% else %}
            href="#"
          {% endif %}
        >Prev</a>
      </li>
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li><a href="{{ url_for('show_games', page=page) }}">{{ page }}</a></li>
          {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
          {% endif %}
        {% else %}
          <li><span>…</span></li>
        {% endif %}
      {% endfor %}
      <li
          {% if not pagination.has_next %}
            class="disabled"
          {% endif %}
      >
        <a
          {% if pagination.has_next %}
            href="{{ url_for('show_games', page=pagination.next_num) }}"
          {% else %}
            href="#"
          {% endif %}
        >Next</a>
      </li>
    </ul>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Challenger</th>
        <th>C. ELO</th>
        <th>Opponent</th>
        <th>O. ELO</th>
        <th>Creation Time</th>
        <th>Your bot</th>
        <th>Winner</th>
        <th>Game Log</th>
      </tr>
    </thead>
    <tbody>
      {% for game in pagination.items %}
        <tr>
          <td>
            {% if game.status.value == 'created' %}
              <span class="label">{{ game.friendly_status() }}</span>
            {% elif game.status.value == 'in_progress' %}
              <span class="label label-warning">{{ game.friendly_status() }}</span>
            {% elif game.status.value == 'error' %}
              <span class="label label-inverse">{{ game.friendly_status() }}</span>
            {% elif game.status.value == 'completed' %}
              {% if game.winner == g.team %}
                <span class="label label-success">Won</span>
              {% elif game.loser == g.team %}
                <span class="label label-important">Lost</span>
              {% endif %}
            {% endif %}
          </td>
          <td>{{ game.challenger.name }}</td>
          <td>{{ game.challenger_elo|round }}</td>
          <td>{{ game.opponent.name }}</td>
          <td>{{ game.opponent_elo|round }}</td>
          <td>{{ game.create_time }}</td>
          <td>
            {% if game.challenger == g.team %}
              {{ game.challenger_bot.name }}
            {% else %}
              {{ game.opponent_bot.name }}
            {% endif %}
          </td>
          <td>{{ game.friendly_status() }}</td>
          <td>
            {% if game.status.value == 'completed' %}
              <a href="{{ url_for('game_log', game_id=game.id) }}">Log</a>
            {% else %}
              Not yet available
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr><td colspan=9>Once you have played some games, they will show up here.</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    ELO numbers are pre-match elos.
  </p>
{% endblock %}
