{% extends "base.html" %}
{% from "_macros.html" import csrf %}
{% block content %}
  <h1>Admin: Impersonate</h1>
  <form class="ui form" method="POST" action="{{ url_for('admin.impersonate') }}">
    {{ csrf() }}
    <div class="field">
      <label>Kerberos</label>
      <input type="text" placeholder="(i.e. 'jserrino')" name="kerberos" required>
    </div>
    <button class="ui basic negative button">Impersonate</button>
  </form>
  <br>
  {% if g.user.id != g.real_user.id %}
    <form class="ui form" method="POST" action="{{ url_for('admin.stop_impersonating') }}">
      {{ csrf() }}
      <button class="ui positive button">Cancel Impersonation</button>
    </form>
  {% endif %}
{% endblock %}
